.pt-6{
  padding-top: 56px;
}

.px-6{
  padding-left: 60px;
  padding-right: 60px;
}
.py-6{
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-10{
  padding-top: 120px;
  padding-bottom: 120px;
}
.pb-10{
  padding-bottom: 120px;
}

.mb-6{
  margin-bottom: 20px;
}
.mb-7{
  margin-bottom: 40px;
}
.gap-6{
  gap: 30px;
}