.c3-chart-arcs-title
{   
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px; 
    color: #4B4B4B80;
}

.c3-chart-arc path {
    stroke: $light;
    stroke-width: 2px;
}

#chart{
    width: 160px;
    max-height: 160px;
}