// hide num
/* Chrome, Safari, Edge, Opera */
// input[type=number]::-webkit-outer-spin-button,
// input[type=number]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }


// /* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }

.input-primary{
    border: 0px solid #000;
    border-bottom: 1px solid $primary;
    background-color: #FAFAFA;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 70%;
    border-radius: 0;

    &::placeholder{
        color: #818A91;
    }
}

.category-group{
    border: 1px solid #CED4DA;
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

